@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* HEADER */
.navbar {
  background-color: #027BBF;
}

.logo {
  height: 30px;
  border-radius: 50%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  box-shadow: none;
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #0f0f0f !important;
}

/* FOOTER */
footer {
  background-color: #027BBF;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  color: #0f0f0f !important;
}

footer .fa-solid {
  margin-right: 10px;
}

.fa-brands {
  font-size: 2rem;
  margin-right: 10px;
}

.fa-facebook:hover {color: #3b5998}


/* GENERAL */
main {
  min-height: 100vh;
}


.form-control[readonly]:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.bg-blue { background-color: #027BBF; }
.bg-cyan { background-color: #2BBFC4; }
.bg-purple { background-color: #6f42c1; }
.border-cyan { border-color: #2BBFC4; }

.cb-gradient {
  background: linear-gradient(90deg, #2BBFC4, #027BBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.border-primary.border-bottom-4 { border-bottom: 3px solid var(--bs-primary) !important; }
.hidden { display: none; }

@media(min-width: 800px){
  .px-lg-6 {
    --mx-lg-6-padding-x: 10rem;       
    padding-left: var(--mx-lg-6-padding-x);
    padding-right: var(--mx-lg-6-padding-x);
  }
}

.fs-7 { font-size: 14px; }


/* INDEX & SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 20px;
  background-color: #027BBF;
}

@media(min-width: 800px){
  .services {
    --services-padding-x: 10rem;
    --services-padding-y: 5rem;
    padding: var(--services-padding-y) var(--services-padding-x) !important;
  }
}

.service {
  position: relative;
  height: 150px;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}

.service-icon {
  position: absolute;
  top: 7%;
  height: 25%;
}

.service-table tr th {
  vertical-align: top;
}

.service-table tr td {
  padding-left: 15px;
}

/* INDEX */
.index-content .overview h1 {
  font-size: 35px;
}

@media(min-width: 800px){
  .index-services {
    --services-padding-x: 10rem;
    --services-padding-y: 0rem;        
    padding: var(--services-padding-y) var(--services-padding-x) !important;
  }
}


/* SERVICES */
.services-overview h1 {
  font-size: 40px;
}

@media(min-width: 800px){
  .services-overview {
    display: flex;
  }
  .services-overview div:nth-child(1) {
    width: 70%;
  } 
  .services-overview div:nth-child(2) {
    width: 30%;
  }
}


.office-image img {
  width: 100%;
}

.our-clinic h1 {
  font-size: 2rem;
}

.our-clinic img {
  width: 100%;
}


.clinic-information {
  position: relative;
  height: 330px;
}

.clinic-card {
  width: 80%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 5px 10px 20px #b0b0b0;
}

.clinic-card i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #2BBFC4;
}

.clinic-card p {
  margin: 8px 0;
}


.call-to-action {
  background-image: linear-gradient(90deg, #169CE5, #027BBF);
}

.call-to-action h1 {
  font-size: 2rem;
}

/* LOGIN / REGISTER */
#password {
  position: relative;
}

i.eye {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 20;
}

/* PROFILE */
@media(min-width: 800px) {
  .profile {
    --profile-margin-x: 10rem;
    margin-left: var(--profile-margin-x) !important;
    margin-right: var(--profile-margin-x) !important;
  }
}

table {
  box-sizing: border-box;
  width: 100%;
}

/* .DATEPICKER */

.datepicker {
  width: 200px !important;
  height: 255px !important;
  border: none !important;
  border-radius: 1rem !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.datepicker .datepicker-switch {
  font-size: 0.85rem;
  padding: 0.25rem 0;
}

.datepicker-dropdown {
  padding: 0.5rem !important;
}

.datepicker.dropdown-menu {
  font-size: 0.85rem;
}

.datepicker table {
  width: 100% !important;
  height: 100% !important;
  table-layout: fixed;
  font-style: inherit;
}

.datepicker table tr td,
.datepicker table tr th {
  border-radius: 0px;
  width: 14.2857%;
  padding: 0.2rem;
  text-align: center;
  transition: 0.2s;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.today:hover {
  background-color: #e7f1ff !important;
  background-image: none !important;
  color: #0d6efd !important;
  cursor: pointer;
  transform: scale(1.05);
}

.datepicker table tr td.today {
  border: 1px solid black !important;
  background-color: #fff !important;
  background-image: none !important; 
  color: #000 !important;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
  background-color: #0d6efd !important;
  background-image: none !important; 
  font-weight: 500;
  color: #fff !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: #adb5bd !important;
  background: none !important;
  opacity: 0.5;
  cursor: not-allowed;
}

.datepicker table tfoot {
  width: 180px;
  display: flex !important;
  justify-content: space-between;
}

.datepicker table tfoot tr th {
  display: inline-block !important;
  color: #0d6efd;
  font-weight: 300;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control[disabled] {
  background-color: #e9ecef !important;
}
